body {
    font-family: Arial, sans-serif;
    background-image: url('dental_clinic.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: rgba(255, 255, 255, 0.8); /* Чтобы контент был видимым на фоне */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.header img {
    width: 100%;
    border-radius: 8px

